h1 {
    text-align: center;
    border-bottom: solid gray 2px;
    padding: 10px;
    margin: 0;
    font-family: 'Gamja Flower', cursive;
}
h3 > a {
    display: inline-block;
    background-color: gray;
    border: solid black 2px;
    text-align: center;
    float: left; width: 19.5%; height: 15%;
    margin: 0;
    font-family: 'Gamja Flower', cursive;
    font-size: 23px;
}
h3 > a:link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Gamja Flower', cursive;

}
h3 > a:visited {
    color: white;
    font-weight: 500;
    font-family: 'Gamja Flower', cursive;
}
.fonty {
    color: black;
    margin-left: 50px;
    font-family: 'Gamja Flower', cursive;
    font-weight: bolder;
    font-size: 50px;
    text-decoration: none;
}